/*
===============
Footer
===============
*/

.footer__container {
  height: 18rem;
  background-color: var(--clr-primary-6);
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem;
  justify-items: center;
}
.footer__information {
  display: grid;
  grid-template-columns: 0.07fr 1fr;
  align-items: center;
  grid-gap: 0.5rem;
}
.footer__icon {
  font-size: 1.2rem;
  color: var(--clr-primary-4);
}

@media screen and (min-width: 900px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem;
  }
}
