/*
=============== 
Review (Feedback)
===============
*/
.preview-container_review {
  grid-template-rows: minmax(12rem, 18vh) 2rem 1.5rem 4rem 1.5rem;
}

.review-container {
  margin: 0 auto;
  margin-top: 7.5rem;
  margin-bottom: 4rem;
  width: 70%;
  border: solid 3px var(--clr-primary-1);
  position: relative;
}
@media screen and (max-width: 600px) {
  .review-container {
    margin-top: 5rem;
    margin-bottom: 1rem;
    width: 90vw;
  }
}
.review-container::before {
  content: "\201C";
  position: absolute;
  top: -1rem;
  left: -4rem;
  line-height: 1;
  font-size: 7rem;
  color: var(--clr-primary-5);
  z-index: 3;
}
@media screen and (max-width: 600px) {
  .review-container::before {
    left: -1rem;
    top: 0.5rem;
    font-size: 5rem;
  }
}
.review-container::after {
  content: "\201D";
  position: absolute;
  bottom: -3rem;
  right: -1.5rem;
  line-height: 1;
  font-size: 7rem;
  color: var(--clr-primary-5);
  z-index: 3;
}
@media screen and (max-width: 600px) {
  .review-container::after {
    right: -1rem;
    font-size: 5rem;
  }
}
.review-container_items {
  padding-right: 1rem;
  margin: 3.5rem 0;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
@media screen and (max-width: 600px) {
  .review-container_items {
    padding-left: 1rem;
    margin: 2rem 0;
    grid-template-columns: 1fr;
  }
}
.review-img {
  max-height: 18vw;
  min-height: 10rem;
  width: 100%;
  margin-left: -3rem;
  cursor: pointer;
}
@media screen and (max-width: 600px) {
  .review-img {
    margin-left: 0;
    min-height: 12rem;
    width: 100%;
  }
}
.review-contents_nameDate {
  text-align: end;
}
.review-contents_content {
  margin-top: 1rem;
  line-height: 1.4rem;
}
