/*
=============== 
Tourist Information
===============
*/
.listTourInfo-container {
  padding: 2rem;
  background-color: var(--clr-primary-7);
}
.preview-listTourInfo__center {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}
.preview-tourInfo__container {
  display: grid;
  grid-row-gap: 1rem;
  text-align: center;
  margin-bottom: 2rem;
  justify-items: center;
}
.preview-tourInfo__img {
  width: 3.5rem;
}
.tourInfo-one__container {
  padding-top: 6.5rem;
  padding-bottom: 3rem;
}
.tourInfo-one__box {
  margin-top: 3rem;
}
.tourInfo-one__items {
  border: solid 2px var(--clr-primary-1);
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 3rem;
}
@media screen and (max-width: 800px) {
  .preview-listTourInfo__center {
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 2rem;
    grid-row-gap: 1rem;
  }
}
@media screen and (max-width: 600px) {
  .tourInfo-one__items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.5rem;
    padding: 2rem;
  }
}
@media screen and (max-width: 400px) {
  .preview-listTourInfo__center {
    margin-top: 2rem;
    margin-left: 0;
    margin-right: 0;
    grid-template-columns: repeat(3, 1fr);
    grid-column-gap: 1rem;
    grid-row-gap: 1rem;
  }
  .preview-tourInfo__img {
    width: 2.8rem;
  }
}
.tourInfo-container__subject {
}
.tourInfo-container__content {
}
.tourInfo-one_items__notice {
  background-color: var(--clr-primary-1);
}
