/*
=============== 
Fonts
===============
*/

/*
=============== 
Variables
===============
*/

:root {
  /* Fonts */
  --ff-primary: "Strait", sans-serif;
  --ff-secondary: "Overpass", sans-serif; /* wgt: 300, 700 */
  --ff-slogan: "Amatic SC", sans-serif; /* wgt:700 */
  --ff-footer: "Noto Serif SC", sans-serif; /* wgt:700 */
  --ff-primary-cn: "Noto Serif SC", sans-serif; /* wgt: 300, 500, 700 */
  --ff-secondary-cn: "ZCOOL XiaoWei", sans-serif;
  /* Colors */
  --clr-white: #fff;
  --clr-black: #000;
  --clr-primary-1: #207e6e;
  --clr-primary-2: #5a5d66;
  --clr-primary-3: #7d99ac;
  --clr-primary-4: #d2dce2;
  --clr-primary-5: #282629;
  --clr-primary-6: #282828; /* content color */
  --clr-primary-7: #efefef;
  /* etc */
  --transition: all 0.3s linear;
  --spacing: 0.2rem;
  --radius: 0.7rem;
  --light-shadow: 0 5px 15px rgba(0, 0, 0, 0.1);
  --dark-shadow: 0 5px 15px rgba(0, 0, 0, 0.2);
}
/*


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-grey-1);
  font-size: 0.875rem;
  margin-top: 5rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}

h1,
h2 {
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}
h1 {
  /* 36pt/11.9 = 3rem */
  font-size: 3rem;
  font-family: var(--ff-slogan);
  font-weight: 700;
}
h2 {
  /* 22pt/11.9 = 1.84rem */
  font-size: 1.84rem;
  font-family: var(--ff-primary);
}
h3 {
  /* 16pt/11.9 = 1.34rem */
  font-size: 1.34rem;
  font-family: var(--ff-primary);
  text-transform: capitalize;
}
h4 {
  /* 13pt/11.9 = 1.34rem */
  font-size: 1.09rem;
  font-family: var(--ff-secondary);
  font-weight: 300;
  word-break: break-all;
}
h5 {
  /* 11pt/11.9 = 0.92rem */
  font-size: 0.92rem;
  font-family: var(--ff-secondary);
  font-weight: 700;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

/*  global classes */
.btn {
  text-transform: uppercase;
  background: var(--clr-primary-1);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  border: 2px solid transparent;
  cursor: pointer;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn:hover {
  color: var(--clr-primary-1);
  background: var(--clr-white);
}
.center-btn {
  display: block;
  width: 9rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

/* section */ /* title */
.section {
  padding: 2rem 0;
}

.section-center {
  width: 90vw;
  margin: 0 auto;
  max-width: 1170px;
}
@media screen and (min-width: 992px) {
  .section-center {
    width: 95vw;
  }
}
.title-style {
  display: inline-block;
  padding-bottom: 0.3rem;
  box-shadow: 0px 3px var(--clr-black);
}

/* preview */
.preview-center {
  margin-top: 1.5rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(210px, 1fr));
  grid-gap: 2.5rem;
}
.preview-container_bestSale,
.preview-container_themeTour,
.preview-container_review {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.preview-container_review {
  background-color: var(--clr-primary-4);
}
.preview-boxShadow {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.preview-img {
  width: 100%;
  height: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  z-index: 1;
}
.preview-title {
  grid-row: 1 / 2;
  grid-column: 1 / span 3;
  align-self: end;
  background-color: var(--clr-primary-2);
  color: var(--clr-white);
  text-align: center;
  padding-top: 0.4rem;
  height: 2.5rem;
  z-index: 3;
}

/* preview for best sale*/
.preview-departureDay {
  grid-column: 1 / -1;
  margin-top: 0.6rem;
  color: var(--clr-primary-3);
}
.preview-departureDay,
.preview-shortDescription,
.preview-price,
.preview-subtitle {
  grid-column: 1 / -1;
  margin-left: 0.5rem;
  margin-right: 0.5rem;
}
.preview-shortDescription {
  margin-top: 0.2rem;
}
.preview-price {
  justify-self: end;
}

/*
=============== 
Navbar
===============
*/

/*
===============
Pages
===============
*/
.aboutUs-page,
.bestSale-page,
.contactUs-page,
.custimized-page,
.guideTeam-page,
.reviews-page,
.themeTour-page,
.touristInformation-page {
  /* background: var(--clr-grey-10); */
  min-height: calc(100vh - 5rem - 9rem);
}
.error-page {
  display: grid;
  place-items: center;
  background: var(--clr-primary-7);
  text-align: center;
}
.error-page h1 {
  text-transform: uppercase;
  color: var(--clr-primary-1);
  margin-bottom: 2rem;
}

/*
=============== 
Iterinary
===============
*/
.preview-container_bestSale {
  grid-template-rows: minmax(13rem, 20vh) 2rem minmax(2rem, 5rem) 1rem;
}

/*
=============== 
Review (Feedback)
===============
*/
.preview-container_review {
  grid-template-rows: minmax(12rem, 18vh) 2rem 2rem minmax(2rem, 5rem);
}

.review-container {
  margin-top: 5vw;
  width: 70%;
  border: solid 3px var(--clr-primary-1);
  position: relative;
}
@media screen and (max-width: 600px) {
  .review-container {
    width: 80vw;
  }
}
.review-container::before {
  content: "\201C";
  position: absolute;
  top: -1rem;
  left: -4rem;
  line-height: 1;
  font-size: 7rem;
  color: var(--clr-primary-5);
  z-index: 3;
}
@media screen and (max-width: 600px) {
  .review-container::before {
    left: -1rem;
    top: 1rem;
    font-size: 5rem;
  }
}
.review-container::after {
  content: "\201D";
  position: absolute;
  bottom: -3rem;
  right: -1.5rem;
  line-height: 1;
  font-size: 7rem;
  color: var(--clr-primary-5);
  z-index: 3;
}
@media screen and (max-width: 600px) {
  .review-container::after {
    right: -1rem;
    font-size: 5rem;
  }
}
.review-container_items {
  padding-right: 1rem;
  margin: 3.5rem 0;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
@media screen and (max-width: 600px) {
  .review-container_items {
    padding-left: 1rem;
    grid-template-columns: 1fr;
  }
}
.review-img {
  max-height: 18vw;
  min-height: 10rem;
  width: 100%;
  z-index: 2;
  margin-left: -3rem;
}
@media screen and (max-width: 600px) {
  .review-img {
    margin-left: 0;
    min-height: 12rem;
    width: 100%;
  }
}
.review-contents_nameDate {
  text-align: end;
}
.review-contents_content {
  margin-top: 1rem;
  line-height: 1.4rem;
}

/*
=============== 
About US
===============
*/
.aboutUs-container {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 1fr 0.5fr;
}

.aboutUs-content_introduction {
  line-height: 1.5rem;
  margin-top: 1rem;
}
.aboutUs-logo {
  justify-self: center;
  align-self: center;
}
.aboutUs-awards {
  margin-top: 5rem;
}
.aboutUs-awards_ul {
  margin: 1rem 1.5rem;
}
.aboutUs-awards_li {
  display: flex;
  line-height: 2rem;
}
.aboutUs-awards_icon {
  margin-right: 1rem;
  margin-top: 0.4rem;
  font-size: 1rem;
}
.aboutUs-awards_imgs {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs-awards_img {
  max-height: 6rem;
}
.aboutUs-awards_img:not(:last-child) {
  margin-right: 1rem;
}
