/*
=============== 
Variables
===============
*/

:root {
  /* Fonts */
  --ff-primary: "Strait", sans-serif;
  --ff-secondary: "Overpass", sans-serif; /* wgt: 300, 700 */
  --ff-slogan: "Amatic SC", sans-serif; /* wgt:700 */
  --ff-footer: "Noto Serif SC", sans-serif; /* wgt:700 */
  --ff-primary-cn: "Noto Serif SC", sans-serif; /* wgt: 300, 500, 700 */
  --ff-primary2-cn: "Noto Sans SC", sans-serif; /* wgt: 500 */
  --ff-secondary-cn: "ZCOOL XiaoWei", sans-serif;
  /* Colors */
  --clr-white: #fff;
  --clr-black: #000;
  --clr-primary-1: #207e6e;
  --clr-primary-2: #5a5d66;
  --clr-primary-3: #7d99ac;
  --clr-primary-4: #d2dce2;
  --clr-primary-5: #282629;
  --clr-primary-6: #282828; /* content color */
  --clr-primary-7: #efefef; /* 239, 239, 239 */
  --clr-red-dark: hsl(360, 67%, 44%);
  /* etc */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.7rem;
  --radius-small: 0.4rem;
  --light-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  --dark-shadow: 0px 3px 15px rgba(0, 0, 0, 0.7);
}
/*


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-black);
  font-size: 0.875rem;
  margin-top: 5rem;
  background-image: url("../images//background.jpg");
}
ul {
  list-style-type: none;
}
a:link,
a:visited {
  text-decoration: none;
  color: var(--clr-primary-5);
}
textarea {
  resize: none;
}
h1,
h2 {
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}

h2 {
  margin-bottom: 0.75rem;
  font-size: 1.8rem;
  font-family: var(--ff-primary);
}
h3 {
  /* 16pt/11.9 = 1.34rem */
  font-size: 1.22rem;
  font-family: var(--ff-primary);
  text-transform: capitalize;
}
h4 {
  /* 13pt/11.9 = 1.34rem */
  font-size: 1rem;
  font-family: var(--ff-secondary);
  font-weight: 300;
  line-height: 1.2rem;
}
h5 {
  /* 11pt/11.9 = 0.92rem */
  font-size: 0.92rem;
  font-family: var(--ff-secondary);
  font-weight: 700;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}
@media screen and (max-width: 800px) {
  h2 {
    margin-bottom: 0.5rem;
    font-size: 1.4rem;
  }
  h3 {
    /* 16pt/11.9 = 1.34rem */
    font-size: 1.1rem;
  }
  h4 {
    /* 13pt/11.9 = 1.34rem */
    font-size: 0.92rem;
    line-height: 1.2rem;
  }
  h5 {
    /* 11pt/11.9 = 0.92rem */
    font-size: 0.82rem;
  }
}
@media screen and (max-width: 500px) {
  h2 {
    margin-bottom: 0.2rem;
    font-size: 1.2rem;
  }
  h3 {
    font-size: 1rem;
  }
  h4 {
    font-size: 0.82rem;
    line-height: 1rem;
  }
  h5 {
    font-size: 0.72rem;
  }
}
@media screen and (max-width: 350px) {
  h2 {
    margin-bottom: 0rem;
    font-size: 1rem;
  }
  h3 {
    font-size: 0.9rem;
  }
  h4 {
    font-size: 0.8rem;
    line-height: 0.8rem;
  }
  h5 {
    font-size: 0.7rem;
  }
}

.cn_h1 {
  /* 36pt/11.9 = 3rem */
  font-size: 2rem;
}
.cn_h2 {
  /* 22pt/11.9 = 1.84rem */
  font-size: 1.7rem;
}
.cn_h3 {
  /* 16pt/11.9 = 1.34rem */
  font-size: 1.1rem;
}
.cn_h4 {
  /* 13pt/11.9 = 1.34rem */
  font-size: 0.95rem;
}
.cn_h5 {
  /* 11pt/11.9 = 0.92rem */
  font-size: 0.8rem;
}
@media screen and (max-width: 800px) {
  .cn_h1 {
    /* 36pt/11.9 = 3rem */
    font-size: 1.5rem;
  }
  .cn_h2 {
    /* 22pt/11.9 = 1.84rem */
    font-size: 1.35rem;
  }
  .cn_h3 {
    /* 16pt/11.9 = 1.34rem */
    font-size: 1.05rem;
  }
  .cn_h4 {
    /* 13pt/11.9 = 1.34rem */
    font-size: 0.9rem;
  }
  .cn_h5 {
    /* 11pt/11.9 = 0.92rem */
    font-size: 0.75rem;
  }
}
@media screen and (max-width: 500px) {
  .cn_h1 {
    font-size: 1.1rem;
  }
  .cn_h2 {
    font-size: 1rem;
  }
  .cn_h3 {
    font-size: 0.9rem;
  }
  .cn_h4 {
    font-size: 0.85rem;
  }
  .cn_h5 {
    font-size: 0.7rem;
  }
}
@media screen and (max-width: 350px) {
  .cn_h1 {
    font-size: 1rem;
  }
  .cn_h2 {
    font-size: 0.95rem;
  }
  .cn_h3 {
    font-size: 0.85rem;
  }
  .cn_h4 {
    font-size: 0.75rem;
  }
  .cn_h5 {
    font-size: 0.65rem;
  }
}

.en-font__overpass_bold {
  font-family: var(--ff-secondary);
  font-weight: 700;
}
.cn-font__zcool {
  font-family: var(--ff-secondary-cn);
  font-weight: 400;
}

.cn-font__noto_sans_medium {
  font-family: var(--ff-primary2-cn);
  font-weight: 500;
}
.cn-font__noto_sans_light {
  font-family: var(--ff-primary2-cn);
  font-weight: 300;
}
.cn-font__noto_bold,
.cn-font__noto_medium,
.cn-font__noto_light {
  font-family: var(--ff-primary-cn);
}
.cn-font__noto_bold {
  font-weight: 700;
}
.cn-font__noto_medium {
  font-weight: 500;
}
.cn-font__noto_light {
  font-weight: 300;
}

.break-word {
  word-break: break-word;
}
.clr-primary-4 {
  color: var(--clr-primary-4);
}
.clr-white {
  color: var(--clr-white);
}
.text-align-justify {
  text-align: justify;
}
.text-align-center {
  text-align: center;
}
.text-shadow-dark {
  text-shadow: 1px 2px #000;
}
.text-shadow-grery {
  text-shadow: 1px 2px var(--clr-primary-2);
}
.word-break-break-all {
  word-break: break-all;
}
/*  global classes */
.btn,
.btn-language {
  text-transform: uppercase;
  background: var(--clr-primary-1);
  color: var(--clr-white) !important;
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn-language {
  padding: 0.27rem 0.4rem;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: normal;
}
.btn:hover,
.btn-language:hover {
  color: var(--clr-primary-1) !important;
  background: var(--clr-primary-4);
}
.btn-right {
  float: right;
}
.btn-center {
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.center-btn {
  display: block;
  width: 9rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

/* section */ /* title */
.mt-2 {
  margin-top: 2rem !important;
}
.section {
  padding: 2rem 1rem;
}

.section-center {
  margin: 0 auto;
  max-width: 1200px;
}

.slogan-style {
  font-size: 2.2rem;
  font-family: var(--ff-slogan);
}
.title-style,
.title-style__white {
  margin: 0 !important;
  font-size: 1.8rem;
  font-family: var(--ff-primary);
  display: inline-block;
  padding-bottom: 0.3rem;
}
.title-style {
  box-shadow: 0px 3px var(--clr-black);
}
.title-style__white {
  color: white;
  box-shadow: 0px 3px var(--clr-primary-2);
}
@media screen and (max-width: 800px) {
  .slogan-style {
    /* 36pt/11.9 = 3rem */
    font-size: 1.8rem;
  }
  .title-style,
  .title-style__white {
    /* 22pt/11.9 = 1.84rem */
    font-size: 1.4rem;
  }
}
@media screen and (max-width: 500px) {
  .slogan-style {
    font-size: 1.5rem;
  }
  .title-style,
  .title-style__white {
    font-size: 1.2rem;
  }
}
@media screen and (max-width: 350px) {
  .slogan-style {
    font-size: 1.3rem;
  }
  .title-style,
  .title-style__white {
    font-size: 1rem;
  }
}

.subtitle-style,
.subtitle-style__noMT {
  text-align: justify;
  width: 55%;
}
.subtitle-style {
  margin-top: 1.2rem;
}
@media screen and (max-width: 880px) {
  .subtitle-style,
  .subtitle-style__noMT {
    width: 100%;
  }
}

/* preview */
.preview-center {
  margin-top: 1.5rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2.5rem;
}
.preview-container_bestSale,
.preview-container_themeTour {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  background-color: white;
}
.preview-container_review {
  display: grid;
  grid-template-columns: 1fr;
  background-color: var(--clr-primary-4);
}
.preview-boxShadow {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.preview-img {
  width: 100%;
  height: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  z-index: 1;
}
.preview-title {
  grid-row: 1 / 2;
  grid-column: 1 / span 3;
  align-self: end;
  background-color: rgba(90, 93, 102, 0.7);
  color: var(--clr-white);
  text-align: center;
  padding-top: 0.5rem;
  height: 2.5rem;
  z-index: 3;
  font-size: 1.05rem;
}

/* preview for best sale*/
.preview-departureDay {
  grid-column: 1 / -1;
  margin-top: 0.5rem;
  color: var(--clr-primary-3);
}
.preview-departureDay,
.preview-shortDescription,
.preview-price,
.preview-subtitle {
  grid-column: 1 / -1;
  margin-left: 1rem;
  margin-right: 1rem;
}
.preview-shortDescription {
  word-break: break-all;
  justify-items: center;
}
.preview-price {
  justify-self: end;
}

/*
===============
Pages
===============
*/

.aboutUs-page,
.bestSale-page,
.contactUs-page,
.custimized-page,
.guideTeam-page,
.reviews-page,
.themeTour-page,
.touristInformation-page {
  /* background: var(--clr-grey
  -10); */
  padding-top: 7rem;
  padding-bottom: 3rem;
  min-height: 100vh;
}

.touristInformation-page {
  background-color: var(--clr-primary-4);
}
.error-page {
  display: grid;
  place-items: center;
  background: var(--clr-primary-7);
  text-align: center;
}
.error-page h1 {
  text-transform: uppercase;
  color: var(--clr-primary-1);
  margin-bottom: 2rem;
}
.nuevo div {
  opacity: 0;
  animation: animate 0.8s linear forwards;
}
@keyframes animate {
  0% {
    opacity: 0;
    transform: rotateY(90deg);
  }
  100% {
    opacity: 1;
    transform: rotateY(0deg);
  }
}
.nuevo div:nth-child(1) {
  animation-delay: 0.1s;
}
.nuevo div:nth-child(2) {
  animation-delay: 0.2s;
}
.nuevo div:nth-child(3) {
  animation-delay: 0.3s;
}
.nuevo div:nth-child(4) {
  animation-delay: 0.4s;
}
.nuevo div:nth-child(5) {
  animation-delay: 0.5s;
}
/*******/
.siempre div {
  opacity: 1;
  animation: animateOut 0.6s linear forwards;
}
@keyframes animateOut {
  0% {
    opacity: 1;
    transform: rotateY(0deg);
  }
  100% {
    opacity: 0;
    transform: rotateY(90deg);
  }
}
.siempre div:nth-child(5) {
  animation-delay: 0.1s;
}
.siempre div:nth-child(4) {
  animation-delay: 0.2s;
}
.siempre div:nth-child(3) {
  animation-delay: 0.3s;
}
.siempre div:nth-child(2) {
  animation-delay: 0.4s;
}
.siempre div:nth-child(1) {
  animation-delay: 0.4s;
}
