/*
=============== 
Fonts
===============
*/

/*
=============== 
Variables
===============
*/

:root {
  /* Fonts */
  --ff-primary: "Strait", sans-serif;
  --ff-secondary: "Overpass", sans-serif; /* wgt: 300, 700 */
  --ff-slogan: "Amatic SC", sans-serif; /* wgt:700 */
  --ff-footer: "Noto Serif SC", sans-serif; /* wgt:700 */
  --ff-primary-cn: "Noto Serif SC", sans-serif; /* wgt: 300, 500, 700 */
  --ff-secondary-cn: "ZCOOL XiaoWei", sans-serif;
  /* Colors */
  --clr-white: #fff;
  --clr-black: #000;
  --clr-primary-1: #207e6e;
  --clr-primary-2: #5a5d66;
  --clr-primary-3: #7d99ac;
  --clr-primary-4: #d2dce2;
  --clr-primary-5: #282629;
  --clr-primary-6: #282828; /* content color */
  --clr-primary-7: #efefef;
  --clr-red-dark: hsl(360, 67%, 44%);
  /* etc */
  --transition: all 0.3s linear;
  --spacing: 0.1rem;
  --radius: 0.7rem;
  --radius-small: 0.4rem;
  --light-shadow: 0px 0px 15px rgba(0, 0, 0, 0.5);
  --dark-shadow: 0px 3px 15px rgba(0, 0, 0, 0.7);
}
/*


/*
=============== 
Global Styles
===============
*/

*,
::after,
::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body {
  font-family: var(--ff-secondary);
  background: var(--clr-white);
  color: var(--clr-black);
  font-size: 0.875rem;
  margin-top: 5rem;
}
ul {
  list-style-type: none;
}
a {
  text-decoration: none;
}
textarea {
  resize: none;
}
h1,
h2 {
  margin-bottom: 0.75rem;
  text-transform: capitalize;
  letter-spacing: var(--spacing);
}
h1 {
  /* 36pt/11.9 = 3rem */
  font-size: 3rem;
  font-family: var(--ff-slogan);
  font-weight: 700;
}
h2 {
  /* 22pt/11.9 = 1.84rem */
  font-size: 1.84rem;
  font-family: var(--ff-primary);
}
h3 {
  /* 16pt/11.9 = 1.34rem */
  font-size: 1.34rem;
  font-family: var(--ff-primary);
  text-transform: capitalize;
}
h4 {
  /* 13pt/11.9 = 1.34rem */
  font-size: 1rem;
  font-family: var(--ff-secondary);
  font-weight: 300;
  line-height: 1.4rem;
}
h5 {
  /* 11pt/11.9 = 0.92rem */
  font-size: 0.92rem;
  font-family: var(--ff-secondary);
  font-weight: 700;
}
p {
  margin-bottom: 1.25rem;
  color: var(--clr-grey-3);
}

.break-word {
  word-break: break-word;
}
.clr-primary-4 {
  color: var(--clr-primary-4);
}
.clr-white {
  color: var(--clr-white);
}
.text-align-justify {
  text-align: justify;
}
.text-shadow-dark {
  text-shadow: 1px 2px #000;
}
.text-shadow-grery {
  text-shadow: 1px 2px var(--clr-primary-2);
}
.word-break-break-all {
  word-break: break-all;
}
/*  global classes */
.btn,
.btn-language {
  text-transform: uppercase;
  background: var(--clr-primary-1);
  color: var(--clr-white);
  padding: 0.375rem 0.75rem;
  letter-spacing: var(--spacing);
  display: inline-block;
  font-weight: 700;
  -webkit-transition: var(--transition);
  transition: var(--transition);
  font-size: 0.875rem;
  cursor: pointer;
  border: 2px solid transparent;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  border-radius: var(--radius);
}
.btn-language {
  padding: 0.27rem 0.4rem;
  font-size: 0.7rem;
  font-weight: 700;
  letter-spacing: normal;
}
.btn:hover,
.btn-language:hover {
  color: var(--clr-primary-1);
  background: var(--clr-primary-4);
}
.btn-right {
  float: right;
}
.btn-center {
  width: fit-content;
  display: block;
  margin: 0 auto;
}

.center-btn {
  display: block;
  width: 9rem;
  text-align: center;
  margin: 0 auto;
  margin-top: 3rem;
}

/* section */ /* title */
.section {
}

.section-center {
  margin: 0 auto;
  max-width: 1200px;
}

.title-style,
.title-style__white {
  display: inline-block;
  padding-bottom: 0.3rem;
}
.title-style {
  box-shadow: 0px 3px var(--clr-black);
}
.title-style__white {
  color: white;
  box-shadow: 0px 3px var(--clr-primary-2);
}
.subtitle-style {
  text-align: justify;
  width: 55%;
  margin-top: 1.2rem;
}

/* preview */
.preview-center {
  margin-top: 1.5rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  grid-gap: 2.5rem;
}
.preview-container_bestSale,
.preview-container_themeTour,
.preview-container_review {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
}
.preview-container_review {
  background-color: var(--clr-primary-4);
}
.preview-boxShadow {
  box-shadow: 3px 3px 2px rgba(0, 0, 0, 0.2);
}

.preview-img {
  width: 100%;
  height: 100%;
  grid-row: 1 / 2;
  grid-column: 1 / -1;
  z-index: 1;
}
.preview-title {
  grid-row: 1 / 2;
  grid-column: 1 / span 3;
  align-self: end;
  background-color: rgba(90, 93, 102, 0.7);
  color: var(--clr-white);
  text-align: center;
  padding-top: 0.5rem;
  height: 2.5rem;
  z-index: 3;
  font-size: 1.05rem;
}

/* preview for best sale*/
.preview-departureDay {
  grid-column: 1 / -1;
  margin-top: 0.5rem;
  color: var(--clr-primary-3);
}
.preview-departureDay,
.preview-shortDescription,
.preview-price,
.preview-subtitle {
  grid-column: 1 / -1;
  margin-left: 1rem;
  margin-right: 1rem;
}
.preview-shortDescription {
}
.preview-price {
  justify-self: end;
}

/*
=============== 
Navbar
===============
*/
.navbar {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 5rem;
  display: flex;
  align-items: center;
  z-index: 200;
  background: var(--clr-primary-5);
}
.nav-center {
  width: 90vw;
  max-width: 1200px;
  margin: 0 auto;
}
.nav-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.nav-header img {
  width: 8rem;
}
.toggle-btn {
  font-size: 2rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-primary-1);
  cursor: pointer;
  transition: var(--transition);
}
.toggle-btn:hover {
  color: var(--clr-primary-3);
}
.nav-links {
  display: none;
}
.page-links {
  text-align: center;
}
@media screen and (min-width: 920px) {
  .navbar {
    background-color: rgba(40, 38, 41, 0.8);
  }
  .toggle-btn {
    display: none;
  }
  .nav-links {
    display: flex;
    justify-content: flex-end;
  }
  .nav-links li {
    margin-right: 0.6rem;
  }
  .nav-links a {
    text-transform: capitalize;
    color: var(--clr-primary-7);
    font-weight: bold;
    letter-spacing: var(--spacing);
    transition: var(--transition);
    padding: 0.5rem 0;
    font-size: 0.7rem;
  }
  .nav-links a:hover {
    color: var(--clr-primary-5);
    box-shadow: 0px 3px var(--clr-primary-1);
  }
  .nav-center {
    display: grid;
    grid-template-columns: auto 1fr;
    align-items: center;
  }
}

@media screen and (min-width: 1050px) {
  .nav-header img {
    width: 10rem;
  }
  .nav-links a {
    font-size: 0.8rem;
  }
}
/*
=============== 
Sidebar
===============
*/
.sidebar {
  background: var(--clr-primary-7);
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  z-index: 999;
  display: grid;
  place-items: center;
  opacity: 0;
  transition: var(--transition);
  transform: translateX(-100%);
}
.show-sidebar {
  opacity: 1;
  transform: translateX(0);
}
.sidebar-links li {
  opacity: 0;
}
.sidebar-links li a {
  display: block;
  text-align: center;
  text-transform: capitalize;
  color: var(--clr-primary-1);
  letter-spacing: var(--spacing);
  margin-bottom: 1rem;
  font-size: 1.2rem;
  transition: var(--transition);
  border-radius: var(--radius);
}
.sidebar-links li a:hover {
  background: var(--clr-primary-4);
  color: var(--clr-primary-6);
}
.close-btn {
  position: absolute;
  right: 4.75%;
  top: 2.75%;
  font-size: 2.5rem;
  background: transparent;
  border-color: transparent;
  color: var(--clr-red-dark);
  cursor: pointer;
}
@media screen and (min-width: 992px) {
  .sidebar {
    transform: translateX(-100%);
  }
}
/*
=============== 
Sidebar Animation
===============
*/
.sidebar-links li {
  animation: slideRight 0.5s ease-in-out 0.3s forwards;
}
.sidebar-links li:nth-of-type(1) {
  animation-delay: 0.2s;
}
.sidebar-links li:nth-of-type(2) {
  animation-delay: 0.4s;
}
.sidebar-links li:nth-of-type(3) {
  animation-delay: 0.6s;
}
.sidebar-links li:nth-of-type(4) {
  animation-delay: 0.8s;
}
.sidebar-links li:nth-of-type(5) {
  animation-delay: 1s;
}
.sidebar-links li:nth-of-type(6) {
  animation-delay: 1.2s;
}
.sidebar-links li:nth-of-type(7) {
  animation-delay: 1.4s;
}
.sidebar-links li:nth-of-type(8) {
  animation-delay: 1.6s;
}
.sidebar-links li:nth-of-type(9) {
  animation-delay: 1.8s;
}
@keyframes slideRight {
  0% {
    transform: translateX(-200px);
    opacity: 0;
  }
  100% {
    transform: translateX(0);
    opacity: 1;
  }
}
.sidebar-icons li {
  opacity: 0;
  animation: slideUp 0.5s ease-in-out 0.3s forwards;
}
.sidebar-icons li:nth-of-type(1) {
  animation-delay: 0.25s;
}
.sidebar-icons li:nth-of-type(2) {
  animation-delay: 0.5s;
}
.sidebar-icons li:nth-of-type(3) {
  animation-delay: 0.75s;
}
.sidebar-icons li:nth-of-type(4) {
  animation-delay: 1s;
}
.sidebar-icons li:nth-of-type(5) {
  animation-delay: 1.25s;
}
@keyframes slideUp {
  0% {
    transform: translateY(200px);
    opacity: 0;
  }
  100% {
    transform: translateY(0);
    opacity: 1;
  }
}
/*
===============
Pages
===============
*/

.aboutUs-page,
.bestSale-page,
.contactUs-page,
.custimized-page,
.guideTeam-page,
.reviews-page,
.themeTour-page,
.touristInformation-page {
  /* background: var(--clr-grey
  -10); */
  padding-top: 7rem;
  padding-bottom: 3rem;
  min-height: 100vh;
}

.touristInformation-page {
  background-color: var(--clr-primary-4);
}
.error-page {
  display: grid;
  place-items: center;
  background: var(--clr-primary-7);
  text-align: center;
}
.error-page h1 {
  text-transform: uppercase;
  color: var(--clr-primary-1);
  margin-bottom: 2rem;
}

/*
=============== 
Iterinary
===============
*/
.preview-container_bestSale {
  grid-template-rows: minmax(13rem, 20vh) 2rem minmax(2rem, 5rem) 1.5rem;
}

/*
=============== 
Review (Feedback)
===============
*/
.preview-container_review {
  grid-template-rows: minmax(12rem, 18vh) 2rem 2rem minmax(2rem, 5rem) 1.5rem;
}

.review-container {
  margin: 0 auto;
  margin-top: 7.5rem;
  margin-bottom: 4rem;
  width: 70%;
  border: solid 3px var(--clr-primary-1);
  position: relative;
}
@media screen and (max-width: 600px) {
  .review-container {
    width: 80vw;
  }
}
.review-container::before {
  content: "\201C";
  position: absolute;
  top: -1rem;
  left: -4rem;
  line-height: 1;
  font-size: 7rem;
  color: var(--clr-primary-5);
  z-index: 3;
}
@media screen and (max-width: 600px) {
  .review-container::before {
    left: -1rem;
    top: 1rem;
    font-size: 5rem;
  }
}
.review-container::after {
  content: "\201D";
  position: absolute;
  bottom: -3rem;
  right: -1.5rem;
  line-height: 1;
  font-size: 7rem;
  color: var(--clr-primary-5);
  z-index: 3;
}
@media screen and (max-width: 600px) {
  .review-container::after {
    right: -1rem;
    font-size: 5rem;
  }
}
.review-container_items {
  padding-right: 1rem;
  margin: 3.5rem 0;
  display: grid;
  grid-template-columns: 0.5fr 1fr;
}
@media screen and (max-width: 600px) {
  .review-container_items {
    padding-left: 1rem;
    grid-template-columns: 1fr;
  }
}
.review-img {
  max-height: 18vw;
  min-height: 10rem;
  width: 100%;
  z-index: 2;
  margin-left: -3rem;
}
@media screen and (max-width: 600px) {
  .review-img {
    margin-left: 0;
    min-height: 12rem;
    width: 100%;
  }
}
.review-contents_nameDate {
  text-align: end;
}
.review-contents_content {
  margin-top: 1rem;
  line-height: 1.4rem;
}

/*
=============== 
About US
===============
*/
.aboutUs-container {
  display: grid;
  grid-column-gap: 3rem;
  grid-template-columns: 1fr 0.5fr;
}

.aboutUs-content__introduction {
  line-height: 1.5rem;
  margin-top: 1rem;
}
.aboutUs-logo {
  justify-self: center;
  align-self: center;
}
.aboutUs-awards {
  margin-top: 5rem;
}
.aboutUs-awards__ul {
  margin: 1rem 1.5rem;
}
.aboutUs-awards__li {
  display: flex;
  line-height: 2rem;
}
.aboutUs-awards__icon {
  margin-right: 1rem;
  margin-top: 0.4rem;
  font-size: 1rem;
}
.aboutUs-awards__imgs {
  margin-top: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
}

.aboutUs-awards__img {
  max-height: 6rem;
}
.aboutUs-awards__img__small {
  max-height: 3rem;
}
.aboutUs-awards__img:not(:last-child),
.aboutUs-awards__img__small:not(:last-child) {
  margin-right: 1rem;
}

/*
=============== 
Contact US
===============
*/
.contactUs-container {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  margin-top: 2rem;
}
.contactUs-info {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  grid-gap: 1rem;
  margin: 3rem;
}
.contactUs-map {
  background-color: yellow;
}
.contactForm-container {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  margin: 3rem auto;
}
.contactForm-img {
  grid-column: 1/4;
  grid-row: 1/-1;
  z-index: 1;
}
.contactForm-outside {
  border: solid 2px var(--clr-white);
  border-radius: var(--radius-small);
  grid-column: 3/-1;
  grid-row: 1/-1;
  z-index: 2;
  align-self: center;
  padding: 0.5rem;
}
.contactForm-inside {
  background-color: var(--clr-primary-7);
  border-radius: var(--radius-small);
}
.contact-form {
  padding: 1rem;
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  grid-column-gap: 1rem;
  grid-row-gap: 1.7rem;
}
.contact-form:hover {
}
.contact-form__label {
  align-self: center;
}
.contact-form__label__generator {
  grid-column: span 4;
}
.contact-form__control {
  width: 100%;
  padding: 0.75rem 1rem;
  border: none;
  background-color: var(--clr-primary-4);
  border-radius: var(--radius-small);
}
.contact-form__control::placeholder {
  font-family: var(--ff-primary);
  color: var(--clr-white);
}
.contact-form__input {
  grid-column: span 2;
}
.contact-form__textarea {
  grid-column: span 5;
}
.contact-form__btn {
  grid-column: 1/-1;
  justify-self: end;
}

/*
=============== 
Tourist Information
===============
*/
.listTourInfo-container {
  padding: 2rem;
  background-color: var(--clr-primary-7);
}
.preview-listTourInfo__center {
  margin-left: 3rem;
  margin-right: 3rem;
  margin-top: 3rem;
  display: grid;
  justify-items: center;
  grid-template-columns: repeat(auto-fit, minmax(140px, 1fr));
  grid-column-gap: 2rem;
  grid-row-gap: 3rem;
}
.preview-tourInfo__container {
  display: grid;
  grid-row-gap: 1em;
  text-align: center;
}
.preview-tourInfo__img {
  width: 100%;
}

.tourInfo-one__container {
  padding-top: 6.5rem;
  padding-bottom: 3rem;
}
.tourInfo-one__box {
  margin-top: 3rem;
}
.tourInfo-one__items {
  border: solid 2px var(--clr-primary-1);
  display: grid;
  grid-template-columns: 0.3fr 1fr;
  grid-gap: 2rem;
  align-items: center;
  padding: 3rem;
}
@media screen and (max-width: 600px) {
  .tourInfo-one__items {
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    grid-gap: 0.5rem;
    padding: 2rem;
  }
}
.tourInfo-container__subject {
}
.tourInfo-container__content {
}
.tourInfo-one_items__notice {
  background-color: var(--clr-primary-1);
}

/*
===============
Guide Team
===============
*/
.listGuide-container {
  margin-top: 5rem;
  width: 90%;
  margin: 5rem auto;
}
.previewGuide-container {
  display: grid;
  margin-top: 5rem;
  justify-items: center;
  align-items: center;
}
.previewGuide-img {
  grid-column: 1 / span 4;
  width: 60%;
  min-width: 13rem;
  max-height: 17rem;
  border: solid 5px var(--clr-primary-1);
  border-radius: 50%;
}
.previewGuide-contents {
  grid-column: 5 / -1;
}
@media screen and (min-width: 700px) {
  .previewGuide-container {
    grid-template-columns: repeat(12, 1fr);
    margin-top: 6rem;
    grid-gap: 3.5rem;
  }
  .previewGuide-img {
    grid-column: 1 / span 4;
    width: 90%;
    min-width: 13rem;
    max-height: 17rem;
  }
  .previewGuide-contents {
    grid-column: 5 / -1;
  }
  .previewGuide-container:nth-of-type(even) .previewGuide-img {
    grid-column: 9 / -1;
    grid-row: 1 / 1;
  }
  .previewGuide-container:nth-of-type(even) .previewGuide-contents {
    grid-column: 1 / span 8;
    grid-row: 1 / 1;
    text-align: left;
  }
}

.previewGuide-contents__iconWithName {
  display: flex;
  align-items: center;
  margin-bottom: 1rem;
}
.previewGuide-contents__icon {
  font-size: 1.3rem;
  margin-right: 0.5rem;
}

/*
===============
Cusomaized tour
===============
*/

.custimized-introduction__container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  grid-column-gap: 4rem;
  align-items: center;
}
.custimized-introduction__imgWithText {
  max-width: 35rem;
  justify-self: center;
  display: grid;
}
.custimized-introduction__img {
  z-index: 0;
  width: 100%;

  grid-row: 1/-1;
  grid-column: 1/-1;
}
@media screen and (min-width: 740px) {
  .custimized-introduction__img {
    min-height: 25rem;
  }
}
.custimized-introduction__text {
  z-index: 2;
  color: var(--clr-white);
  grid-row: 1/-1;
  grid-column: 1/-1;
  align-self: center;
  justify-self: center;
}

.custimizedProcess-container::before {
  content: "";
  position: absolute;
  top: 22px;
  width: 76vw;
  max-width: 944px;
  border-bottom: solid 3px var(--clr-primary-3);
  z-index: -1;
}
@media screen and (max-width: 1000px) {
  .custimizedProcess-container::before {
    display: none;
  }
}

.custimizedProcess-container {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  margin: 5rem 0;
  justify-items: center;
  position: relative;
}
@media screen and (max-width: 1000px) {
  .custimizedProcess-container {
    grid-template-columns: repeat(3, 1fr);
  }
}
@media screen and (max-width: 610px) {
  .custimizedProcess-container {
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
  }
}

.custimizedProcess-steps:hover .custimizedProcess-steps__text {
  background-image: linear-gradient(
    to bottom right,
    var(--clr-primary-1),
    var(--clr-primary-3)
  );
  box-shadow: var(--dark-shadow);
  transform: scale(1.01);
  border: none;
  color: white;
}
.custimizedProcess-steps:hover .custimizedProcess-steps__circleInside {
  display: block;
}
.custimizedProcess-steps__circle {
  border: solid 2px var(--clr-primary-3);
  border-radius: 50%;
  width: 1rem;
  height: 1rem;
  margin: 1rem auto;
  background-color: var(--clr-primary-3);
}
.custimizedProcess-steps__circleInside {
  border: solid 5px var(--clr-primary-1);
  border-radius: 50%;
  width: 0.6rem;
  height: 0.6rem;
  margin: 1px auto;
  display: none;
}
.custimizedProcess-steps__text {
  margin-top: 2rem;
  display: grid;
  border: solid 2px var(--clr-primary-3);
  border-radius: var(--radius-small);
  width: 11rem;
  height: 13rem;
  padding: 1rem;
  text-align: center;
  line-height: 1.4rem;
  box-shadow: var(--light-shadow);
  transition: var(--transition);
}
@media screen and (max-width: 610px) {
  .custimizedProcess-steps__text {
    width: 95%;
    max-width: 15rem;
    margin-bottom: 1rem;
  }
  .custimizedProcess-steps__circle {
    display: none;
  }
  .custimizedProcess-steps__circleInside {
    display: none;
  }
}
/* @media screen and (max-width: 700px) {
  .custimized-process_btn {
    display: none;
  }
} */
.customizedSlider-containder,
.customizedForm-containder,
.custimizedProcess-container {
  margin-top: 5rem;
}
.custimizedProcess-container {
  margin-top: 2rem;
}

.customizedForm-title {
  text-align: center;
  background-color: var(--clr-primary-3);
  line-height: 3rem;
}
.customizedForm-outside {
  margin: 3rem 2rem;
  border: solid 2px var(--clr-primary-3);
  border-radius: var(--radius);
}
.customizedForm-inside {
  margin: 0.5rem;
  background-color: var(--clr-primary-4);
  border-radius: var(--radius);
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(400px, 1fr));
}

.customizedForm-titleBox {
  display: flex;
  justify-content: center;
  align-items: center;
}
.customizedForm-titleHr {
  border: 0;
  height: 4px;
  width: 10rem;
  background: var(--clr-primary-3);
}
.customizedForm-title__inside {
  margin: 0 1.5rem;
}

.customizedForm-left,
.customizedForm-right {
  padding: 2rem;
  justify-self: center;
}
.customizedForm-formBox {
  display: grid;
  grid-template-columns: 0.5fr 1fr;
  margin-top: 1rem;
  align-items: center;
  grid-row-gap: 1rem;
  grid-column-gap: 0.3rem;
}
.customized-form__label {
  text-align: center;
}

.customizedForm-input {
  border: none;
  padding: 0.5rem;
  font-family: var(--ff-secondary);
  font-weight: 300;
}
.mt2 {
  margin-top: 2rem;
}
.customizedForm-checkbox__label {
  margin-left: 0.5rem;
}
.active {
  display: block;
}
.inactive {
  display: none;
}
.textarea-flightSchedule {
  margin-top: 0.3rem;
  width: 13rem;
  border-radius: var(--radius);
}
.customizedForm-checkbox__container {
  padding-left: 1rem;
}
@media screen and (max-width: 600px) {
  .customizedForm-inside {
    grid-template-columns: 1fr;
  }
  .customizedForm-formBox {
    grid-template-columns: 1fr;
  }
  .customizedForm-formBox__label {
    display: none;
  }
  .customizedForm-input {
    justify-self: center;
    width: 80%;
  }
  .customizedForm-titleHr {
    width: 4.8rem;
  }
  .textarea-flightSchedule {
    width: 8rem;
  }
  .customizedForm-checkbox__container {
    padding-left: 1.5rem;
  }
}
@media screen and (max-width: 400px) {
  .customizedForm-titleHr {
    width: 3rem;
  }
}

/*
===============
Theme tour
===============
*/
.preview-container_themeTour {
  grid-template-rows: minmax(13rem, 20vh) minmax(7rem, 18vh);
}
.preview-subTitle {
  padding: 1rem;
  grid-column: 1/-1;
}

.themeTour-header__container {
  width: 100%;
}
@media screen and (min-width: 600px) {
  .themeTour-header__container {
    height: 100vh;
  }
}
.themeTour-header__background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  right: 0;
}
.themeTour-header__title {
  margin-top: 6rem;
  display: flex;
  width: 5rem;
  float: left;
}
.themeTour-header__title_back {
  display: inline-block;
  background-color: var(--clr-primary-3);
  padding: 1.5rem;
  margin-bottom: 1rem;
  border: none;
}
.themeTour-header__title_front {
  display: inline-block;
  background-color: var(--clr-primary-4);
  padding: 1rem;
  writing-mode: vertical-rl;
  margin-top: 0.5rem;
  margin-left: -2.5rem;
  border: none;
}

.themeTour-header__subtitle {
  margin: 0 auto;
  margin-top: 15vh;
  margin-bottom: 12vh;
  width: 60%;
  position: relative;
  text-align: center;
  padding: 0.5rem;
  text-shadow: 0 0 10px white;
}
.themeTour-header__subtitle::before {
  content: "\201C";
  position: absolute;
  top: 1rem;
  left: -3rem;
  line-height: 1;
  font-size: 6rem;
  color: var(--clr-primary-5);
  z-index: 3;
}
.themeTour-header__subtitle::after {
  content: "\201D";
  position: absolute;
  bottom: -3.5rem;
  right: -2.5rem;
  line-height: 1;
  font-size: 6rem;
  color: var(--clr-primary-5);
  z-index: 3;
}
.themeTour-header__highlightBox {
  display: grid;
  border: solid 2px var(--clr-primary-1);
  border-radius: var(--radius);
}
@media screen and (min-width: 600px) {
  .themeTour-header__highlightBox {
    float: right;
    width: 70vw;
    margin-right: 2rem;
    grid-template-columns: 1fr 0.5fr;
  }
}
.themeTour-header__highlightBox__content,
.themeTour-header__highlightBox__map {
  align-self: center;
  justify-self: center;
}

.themeTour-header__highlightBox__content {
  padding: 2rem 2rem;
  color: var(--clr-white);
  text-align: center;
  text-shadow: 0 0 10px black;
}
.themeTour-header__highlightBox__map {
  margin: 1rem;
  /*background-color: blue;*/
  width: 14.5rem;
  height: 18rem;
}
.themeTour-header__highlightBox__map__img {
  width: 100%;
  height: 100%;
  border-radius: var(--radius-small);
}
.themeTour-plan__article {
  width: 80%;
  margin: 5rem auto;
}
.themeTour-plan__container {
  display: grid;
  grid-template-columns: 50px 50px 1fr;
}
.themeTour-plan__days {
  margin-top: -0.5rem;
}
.themeTour-plan__lineAndDot {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
}
.themeTour-plan__dot {
  width: 0.8rem;
  height: 0.8rem;
  border-radius: 50%;
  justify-self: end;
  margin-right: -0.45rem;
  z-index: 3;
  background-color: black;
  border-color: black;
}
.themeTour-plan__line {
  border-left: 2.5px solid var(--clr-primary-2);
}
.themeTour-plan__route__btn {
  width: 100%;
  border: none;
  border-radius: var(--radius-small);
  margin-bottom: 0.5rem;
}
.themeTour-plan__route__box {
  display: flex;
  justify-content: space-between;
  padding: 0.15rem 1.5rem;
  align-items: center;
}
.themeTour-plan__routeAndIcon {
  display: flex;
}
.themeTour-plan__icon {
  font-size: 0.9rem;
}
.xIcon {
  transition: var(--transition);
  transform: rotate(135deg);
}
.plusIcon {
  transition: var(--transition);
  transform: rotate(0deg);
}
.themeTour-plan__route {
  margin-left: 0.5rem;
}
.themeTour-plan__box {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 1rem;
  margin-top: 0.5rem;
  margin-bottom: 2rem;
}
.themeTour-plan__stayAndMeals,
.themeTour-plan__itinerary {
  grid-column: 1 / span 2;
  background-color: var(--clr-primary-4);
  padding: 1rem;
  border-radius: var(--radius-small);
}

.photo {
  width: 100% !important;
  border-radius: var(--radius-small);
}

.themeTour-notice__article {
  width: 80%;
  margin: 3rem auto;
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 2rem 3rem;
}
.themeTour-notice__price__box,
.themeTour-notice__important__box,
.themeTour-notice__policy__box {
  grid-column: 1 / span 2;
}
.themeTour-notice__title {
  display: grid;
  grid-template-columns: 1fr auto 1fr;
  grid-gap: 1rem;
  margin-bottom: 0.6rem;
}
.themeTour-notice__title__lines {
  display: grid;
  grid-row-gap: 0.2rem;
}
.themeTour-notice__title__lines__top {
  border-bottom: solid 2px var(--clr-primary-3);
}
.themeTour-notice__title__lines__bottom {
  border-top: solid 2px var(--clr-primary-3);
}
.themeTour-notice__content {
  width: 100%;
  min-height: 10rem;
  background-color: var(--clr-primary-4);
  padding: 1rem;
  border-radius: var(--radius-small);
}
/*
===============
Slider
===============
*/

.slider-title_mb {
  margin-bottom: 2rem;
}
.slider-height {
  margin: 0 0.7rem;
  height: 23rem;
}
.slider-height__slider {
  margin: 0 0.7rem;
  height: 22rem;
}
.preview-container_themeTour__slider {
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.2);
  margin: 0.5rem;
}
/*
===============
Index
===============
*/

.main-header__container {
  height: 100vh;
}
.main-header__background {
  position: absolute;
  width: 100vw;
  height: 100vh;
  z-index: -1;
  top: 0;
  right: 0;
}
.main-header__logo {
  position: absolute;
  width: 25%;
  min-width: 15rem;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
}
.main-header__bottom__bar {
  height: 8rem;
  background-image: url(../images/astronomy.jpg);
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-attachment: fixed;
  display: grid;
  justify-content: center;
  align-content: center;
}
.main-header__bottom__text {
  color: white;
  margin: 0 auto;
}

/* 1024 : ipad pro size 
beyond ipad pro size (for laptop) */
@media screen and (min-width: 1025px) {
  .main-slider__containder,
  .main-steps__container,
  .main-aboutUs__containder,
  .main-whyUs__containder {
    padding: 3rem 0;
    height: 100vh;
  }
}
.main-btn__customized {
  margin-top: -2rem;
  margin-bottom: 2rem;
}

.main-aboutUs__containder {
  background-image: url(../images/astronomy.jpg);
  background-position: center;
  -webkit-background-size: contain;
  -moz-background-size: contain;
  -o-background-size: contain;
  background-size: contain;
  background-attachment: fixed;
}
.main-aboutUs__box {
  padding: 0 3rem;
  padding-top: 3rem;
  margin: 0 auto;
  display: grid;
  grid-template-columns: 0.9fr 0.4fr;
  grid-gap: 3rem;
  max-width: 80rem;
}
.btn-aboutUs {
  padding-top: 1rem;
  padding-bottom: 3rem;
}
@media screen and (min-width: 1025px) {
  .main-aboutUs__box {
    padding-top: 10vh;
  }
}

.main-whyUs__box {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  margin-top: 3rem;
  grid-gap: 1.5rem;
}
.main-whyUs__contents {
  display: grid;
  grid-template-columns: 1fr;
  grid-gap: 1rem;
  justify-items: center;
}
.main-whyUs__contents__icon {
  font-size: 3rem;
}
.main-whyUs__contents__text {
  background-color: var(--clr-primary-1);
  width: 90%;
  padding: 1.5rem;
  clip-path: polygon(0% 0%, 100% 0, 100% 72%, 50% 100%, 0 72%);
  -webkit-clip-path: polygon(0% 0%, 100% 0, 100% 72%, 50% 100%, 0 72%);
  -o-clip-path: polygon(0% 0%, 100% 0, 100% 72%, 50% 100%, 0 72%);
  -ms-clip-path: polygon(0% 0%, 100% 0, 100% 72%, 50% 100%, 0 72%);
  height: 15rem;
}

/*
===============
Footer
===============
*/

.footer__container {
  height: 18rem;
  background-color: var(--clr-primary-6);
  display: grid;
  grid-template-columns: 1fr;
  padding: 3rem;
  justify-items: center;
}
@media screen and (min-width: 900px) {
  .footer__container {
    grid-template-columns: repeat(2, 1fr);
    padding: 5rem;
  }
  .aboutUs-awards__img__small {
    max-height: 4rem;
  }
}
.footer__information {
  display: grid;
  grid-template-columns: 0.07fr 1fr;
  align-items: center;
  grid-gap: 0.5rem;
}
.footer__icon {
  font-size: 1.2rem;
  color: var(--clr-primary-4);
}
.footer__awards {
  width: 80%;
}
